---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

// Get all collections
const essays = await getCollection("essaysCollection");
const notes = await getCollection("notesCollection");
const allPosts = [...essays, ...notes]


const topics = [...new Set(allPosts.map((post: any) => post.data.topics).flat())];
const pageTitle = "Topics";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="topics-container">
      <span>Topics</span>
      <span class="separator">|</span>
      <div>
          {topics.map((topic) => (
              <button data-topic={topic} id="topics">
                  <a href={`/topics/${topic}`} class="button-link">{topic}</a>
              </button>
          ))}
      </div>
  </div>
</BaseLayout>
<style>
    .topics-container {
        display: flex;
        align-items: center;
        gap: var(--space-m);
        margin: var(--space-m) 0;
        
        span {
            font-size: var(--font-size-md);
        }
    }

    .separator {
        color: var(--color-primary);
    }

    button {
        background-color: var(--color-primary);
        border: none;
        border-radius: var(--border-radius-lg);
        padding: var(--space-2xs);
        margin: var(--space-3xs);
        font-family: var(--font-sans);
        cursor: pointer;
    }

    button.selected {
        background-color: var(--color-accent);
        color: var(--color-background);
    }

    button a {
      color: var(--color-text);
    }
</style>