---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GridList from '../../../components/GridList.astro';
import ShowCard from '../../../components/cards/ShowCard.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Show";

const shows = (await getCollection("showsCollection")).sort(
  (a, b) => b.data.finished.valueOf() - a.data.finished.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Show</h1>
  <p>Collection of thoughts and reviews from various media</p>
  <GridList>
      {
          shows.map((show: any) => (
              <ShowCard
              url={`/library/shows/${show.id}/`} 
              title={show.data.title} 
              finished={show.data.finished} />
          ))
      }
  </GridList>
</BaseLayout>