---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GridList from '../../../components/GridList.astro';
import BookCard from '../../../components/cards/BookCard.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Books";

const books = (await getCollection("booksCollection")).sort(
  (a, b) => b.data.finished.valueOf() - a.data.finished.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Books</h1>
  <p>Collection of thoughts and reviews from various media</p>
  <GridList>
      {
          books.map((book: any) => (
              <BookCard 
              url={`/library/books/${book.id}/`} 
              title={book.data.title} 
              finished={book.data.finished} />
          ))
      }
  </GridList>
</BaseLayout>