@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-raleway: "Raleway";
  --font-noto: "Noto Sans";

  --color-text: #03080c;
  --color-background: #f7fbfd;
  --color-primary: #3bb5fc;
  --color-secondary: #cc96e4;
  --color-accent: #d86eca;
}
