---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import portrait from '../assets/portrait.jpg'
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex flex-col justify-center">
		<h1 class="flex justify-center">About Me</h1>
		<Image 
		src={portrait} 
		alt="My portrait"
		width="400"
		loading="lazy"
		decoding="async" />
	</div>
</BaseLayout>