---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro"
import EssaysList from "../components/EssaysList.astro";
import SectionSeparator from "../components/SectionSeparator.astro";
const pageTitle = "FlauFly";
const allPosts = (await getCollection("essaysCollection")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Garden</h1>
	
	<!-- List of posts -->
  <SectionSeparator section="Essays"/>
  <EssaysList posts={allPosts}/>
	
</BaseLayout>

<style>
	.my-name {
		color: var(--color-primary);
	}

	.dividor {
		background-color: var(--color-primary);
	}
</style>
