---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro"
import EssaysList from "../components/EssaysList.astro";
const pageTitle = "Home Page";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
	<div class="text-7xl text-primary">FlauFly</div>
	<div class="text-xl pt-6">On this site you can find my <a href="/blog/" class="font-bold text-accent opacity-75 transition hover:opacity-100">Essays</a>, <a href="/travels" class="font-bold text-accent opacity-75 transition hover:opacity-100">Travels</a> and <a href="/about/" class="font-bold text-accent opacity-75 transition hover:opacity-100">About</a></div>
	<div class="text-4xl pt-6">Explore my website:</div>
	<ul class="list-disc list-inside pt-2">
		<li>Check out my opinionated <a href="/blog/" class="font-bold text-accent opacity-75 transition hover:opacity-100">Essays</a> where I share my thoughts</li>
		<li>Head out to <a href="/travels/" class="font-bold text-accent opacity-75 transition hover:opacity-100">Travels</a> section for my travel diaries</li>
		<li>In <a href="/library/" class="font-bold text-accent opacity-75 transition hover:opacity-100">Library</a> I reflect over books I read and other media consumed </li>
		<li>You can learn more <a href="/library/" class="font-bold text-accent opacity-75 transition hover:opacity-100">About</a> me here</li>
	</ul>

	<!-- List of posts -->
  <div class="text-4xl py-6 font-texturina">Essays:</div>
  <EssaysList posts={allPosts}/>
	
</BaseLayout>
