---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro"
import EssaysList from "../components/EssaysList.astro";
const pageTitle = "Home Page";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
	<h1>FlauFly</h1>
	
	<!-- List of posts -->
  <h2>Essays:</h2>
  <EssaysList posts={allPosts}/>

  <div class="dividor">test</div>
	
</BaseLayout>

<style>
	.my-name {
		color: var(--color-primary);
	}

	.dividor {
		background-color: var(--color-primary);
	}
</style>
