---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="test">
    <section>
        <div class="isolate">
            <div class="noise"></div>
            <div class="overlay overlay-1"></div>
        </div>
    </section>
</BaseLayout>

<style>
    section {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 100px;
    margin-bottom: var(--space-2xl);
    }

    .noise {
    height: 100%;
    background: linear-gradient(20deg, var(--color-primary), transparent), url(../assets/noise.svg);   
    filter: contrast(290%) brightness(100%);
    }

    .isolate {
    isolation: isolate;
    position: relative;
    width: 100%;
    height: 100%;
    }

    .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-accent);
    mix-blend-mode: color-burn;
    }
</style>