---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Topics from '../../components/Topics.astro';
const pageTitle = "Essays";
---
<BaseLayout pageTitle={pageTitle}>
  <p>This is where you can find all my Essays.</p>
  <Topics />
</BaseLayout>