---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Topics from '../../components/Topics.astro';
const pageTitle = "Essays";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Essays</h1>
  <p>Long-form opinionated writing</p>
  <Topics />
</BaseLayout>