---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Library";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Library</h1>
  <p>Collection of thoughts and reviews from various media</p>
  <ul>
    <li><a href="/library/books/">Books</a></li>
    <li><a href="/library/movies/">Movies</a></li>
    <li><a href="/library/shows/">Shows</a></li>
    <li><a href="/library/games/">Games</a></li>
  </ul>
</BaseLayout>