---
const { title, url, description, startDate, topics } = Astro.props
---
<div class="rounded-md m-8 transition duration-300 hover:-translate-y-2 hover:bg-fuchsia-300 grid-item" data-topics={topics?.join(",")} id="card">
    <a href={url}>
        <div class="p-2">
            <div class="text-2xl font-semibold">{title}</div>
            <div class="text-gray-700">{description}</div>
            <div class="flex space-x-2"><p class="text-sky-600">Published:</p><p>{startDate.toLocaleDateString()}</p></div>
        </div>
    </a>
</div>