---
const { title, url, description, startDate, topics } = Astro.props
---
<div class="card grid-item" data-topics={topics?.join(",")} id="card">
    <a href={url}>
            <h3 class="title">{title}</h3>
            <p class="description">{description}</p>
            <div class="date">
                <p>Published:</p>
                <time>{startDate.toLocaleDateString("pl-PL")}</time>
            </div>
    </a>
</div>

<style>
    .card {
        border-radius: var(--border-radius-base);
        margin: var(--spacing-base);
        padding: var(--spacing-base);
        transition: all 0.3s;
    }

    .card:hover {
        background-color: var(--color-secondary);
        translate: calc(var(--spacing-base)) calc(-1 * var(--spacing-base));
    }

    .card a {
        color: var(--color-text);
    }

    .title {
        font-size: var(--text-size-lg);
        font-weight: bold;
    }

    .description {
        opacity: 0.5;
    }

    .date {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-base);
    }
    
    .date p {
        color: var(--color-accent);
        font-weight: bold;
    }
</style>