---
import { Icon } from "astro-icon/components";
const socials = [
  { name: "github", address: "https://github.com/FlauFly"},
  { name: "bluesky", address: "https://bsky.app/profile/flaufly.bsky.social"},
  { name: "mail", address: "mailto:tirhhe@gmail.com"},
]
---
<footer class="mt-auto bg-primary text-secondary inset-shadow-sm inset-shadow-primary/50">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0">© 2025 FlauFly</div>

      <!-- Social Media icons -->
      <div class="flex space-x-6">
        {
          socials.map((item) => (
            <a class="hover:scale-125 transition" href={item.address}>
              <Icon name={item.name} size={32} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>