---
import { Icon } from "astro-icon/components";
---
<footer class="mt-auto bg-sky-500 shadow-lg border-t-2 border-sky-600">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0 text-white">© 2025 FlauFly</div>

      <!-- Social Media icons -->
      <div class="flex space-x-6">
        <a class="text-white hover:text-fuchsia-300 transition" href="https://github.com/FlauFly">
          <Icon name="github" size={32} />
        </a>
        <a class="text-white hover:text-fuchsia-300 transition" href="https://bsky.app/profile/flaufly.bsky.social">
          <Icon name="bluesky" size={32} />
        </a>
        <a class="text-white hover:text-fuchsia-300 transition" href="mailto:tirhhe@gmail.com">
          <Icon name="mail" size={32} />
        </a>
      </div>
    </div>
  </div>
</footer>