---
import { Icon } from "astro-icon/components";
const socials = [
  { name: "github", address: "https://github.com/FlauFly"},
  { name: "bluesky", address: "https://bsky.app/profile/flaufly.bsky.social"},
  { name: "mail", address: "mailto:tirhhe@gmail.com"},
]
---
<footer>
      <div>© 2025 FlauFly</div>

      <!-- Social Media icons -->
      <div class="socials">
        {
          socials.map((item) => (
            <a href={item.address}>
              <Icon name={item.name} size={32} />
            </a>
          ))
        }
      </div>
</footer>

<style>
  footer {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
  }

  div {
    padding: var(--spacing-base);
  }

  div.socials {
    display: flex;
    gap: var(--spacing-base);
  }

</style>