---
import { Icon } from "astro-icon/components";
---
<footer class="mt-auto bg-primary text-secondary inset-shadow-sm inset-shadow-primary/50">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0">© 2025 FlauFly</div>

      <!-- Social Media icons -->
      <div class="flex space-x-6">
        <a class="hover:text-accent transition" href="https://github.com/FlauFly">
          <Icon name="github" size={32} />
        </a>
        <a class="hover:text-accent transition" href="https://bsky.app/profile/flaufly.bsky.social">
          <Icon name="bluesky" size={32} />
        </a>
        <a class="hover:text-accent transition" href="mailto:tirhhe@gmail.com">
          <Icon name="mail" size={32} />
        </a>
      </div>
    </div>
  </div>
</footer>