---
---
<div class="grid-list">
    <slot />
</div>

<style>
    .grid-list {
        border-radius: var(--border-radius-base);
        display: grid;

        @media screen and (width >= 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (width >= 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (width >= 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

</style>