---

---
<nav class="bg-primary text-secondary shadow-lg shadow-primary/50">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
            <div class="flex-shrink-0 text-2xl font-bold">
                <a class="hover:text-accent transition" href="/">FlauFly</a>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-6 font-medium">
                <a class="hover:text-accent transition" href="/">Home</a>
                <a class="hover:text-accent transition" href="/blog/">Blog</a>
                <a class="hover:text-accent transition" href="/topics/">Topics</a>
                <a class="hover:text-accent transition" href="/travels/">Travels</a>
                <a class="hover:text-accent transition" href="/about/">About</a>
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button id="menu-toggle" class="focus:outline-none text-2xl">
                    ☰
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 space-y-2 font-medium">
        <a class="block hover:text-accent transition" href="/">Home</a>
        <a class="block hover:text-accent transition" href="/blog/">Blog</a>
        <a class="block hover:text-accent transition" href="/topics/">Topics</a>
        <a class="hover:text-accent transition" href="/travels/">Travels</a>
        <a class="block hover:text-accent transition" href="/about/">About</a>
    </div>  
</nav>

<script>
    const toggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    toggle?.addEventListener('click', () => {
        mobileMenu?.classList.toggle('hidden');
        if (toggle.innerHTML === "⨉") {
            toggle.innerHTML = "☰";
        } else {
            toggle.innerHTML = "⨉";
        }
    });
</script>