---
---
<div class="progress"></div>

<style>
  .progress {
  height: 5px;
  width: 0%;
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes progress {
  to {
    background-color: var(--color-accent);
    width: 100%;
  }
}
</style>

<script>
    window.addEventListener('scroll', () => {
  document.body.style.setProperty('--scroll', `${window.pageYOffset / (document.body.scrollHeight - window.innerHeight)}`);
}, false);

console.log(window.pageYOffset)
console.log(document.body.offsetHeight)
console.log(window.innerHeight)
</script>