---
const { section } = Astro.props;
---
<div class="container">
    <div class="first line"></div>
    <h2>{section}</h2>
    <div class="second line"></div>
</div>
    
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr auto 10fr;
        align-items: center;
        gap: var(--space-s)
    }

    .line {
        height: 15px;
    }

    .first {
        background-color: var(--color-accent);
        border: 2px solid var(--color-accent-dark);
    }

    .second {
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary-dark);
    }
</style>