---
import { getCollection } from "astro:content";
import EssayCard from "./EssayCard.astro";
import EssaysList from "./EssaysList.astro";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
const topics = [...new Set(allPosts.map((post: any) => post.data.topics).flat())];
---
<div class="flex">
    <div class="text-lg p-2">Topics</div>
    <div class="text-xl p-2 text-primary">|</div>
    <div class="flex gap-4">
        {topics.map((topic) => (
            <button data-topic={topic} class="p-2 rounded-full transition hover:bg-secondary focus:bg-primary" id="topics">
                {topic}
            </button>
        ))}
    </div>
</div>

<EssaysList posts={allPosts} />

<script>
    function hideCards(e: Event) {
        let selectedButton = e.currentTarget as HTMLButtonElement;
        let selectedTopic = selectedButton.getAttribute("data-topic");
        let allCards = document.querySelectorAll<HTMLElement>("#card");
        allCards.forEach((card) => {
            let cardTopics = card.dataset.topics?.split(",") || [];
            let matchesTopic = !selectedTopic || cardTopics.includes(selectedTopic);
            card.classList.toggle("hidden", !matchesTopic);
        });
    }

    const buttons = document.querySelectorAll("#topics");
    buttons.forEach((e) => {
        e.addEventListener("click", hideCards);
    })
</script>





