---
import { getCollection } from "astro:content";
import EssaysList from "./EssaysList.astro";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
const topics = [...new Set(allPosts.map((post: any) => post.data.topics).flat())];
---
<div class="topics-container">
    <span>Topics</span>
    <span class="separator">|</span>
    <div>
        {topics.map((topic) => (
            <button data-topic={topic} id="topics">
                {topic}
            </button>
        ))}
    </div>
</div>

<EssaysList posts={allPosts} />

<style>
    .topics-container {
        display: flex;
        align-items: center;
        gap: var(--space-m);
        margin: var(--space-m) 0;
        
        span {
            font-size: var(--font-size-md);
        }
    }

    .separator {
        color: var(--color-primary);
    }
</style>

<script>
    function hideCards(e: Event) {
        let selectedButton = e.currentTarget as HTMLButtonElement;
        let selectedTopic = selectedButton.getAttribute("data-topic");
        let allCards = document.querySelectorAll<HTMLElement>("#card");
        allCards.forEach((card) => {
            let cardTopics = card.dataset.topics?.split(",") || [];
            let matchesTopic = !selectedTopic || cardTopics.includes(selectedTopic);
            card.classList.toggle("hidden", !matchesTopic);
        });
    }

    const buttons = document.querySelectorAll("#topics");
    buttons.forEach((e) => {
        e.addEventListener("click", hideCards);
    })
</script>





