---
import type { MarkdownHeading } from 'astro';
import BaseLayout from './BaseLayout.astro';
import ProgressBar from '../components/ProgressBar.astro';
import ProseWrapper from '../components/ProseWrapper.astro';
import TableOfContents from '../components/TableOfContents.astro';
const { frontmatter, headings } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <ProgressBar />
    <!-- Title and description at the top -->
      <h1>{frontmatter.title}</h1>
    <!-- Metadata about article -->
    <div class="date">
      <span class="text-accent">Started:</span>
      <time>{frontmatter.startDate.toLocaleDateString("pl-PL")}</time>
    </div>
    <div class="date">
      <span class="text-accent">Finished:</span>
      <time>{frontmatter.endDate.toLocaleDateString("pl-PL")}</time>
    </div>

  <TableOfContents headings={headings} />

  <ProseWrapper>
    <slot />
  </ProseWrapper>
</BaseLayout>

<style>
  h1 {
    text-align: center;
  }

  .date {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      font-family: var(--font-sans);
  }
  
  .date span {
      color: var(--color-accent);
      font-weight: bold;
  }  
</style>